/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


html, body
  background #fcfcfc
.custom-block.tip
  background #fff
.navbar
  background rgba(255,255,255,0.5)

.banner
  width 100%
  text-align center
  position relative
  z-index 10
.banner:before
  content ('')
  position absolute
  z-index 100
  top 0
  bottom 0
  left 0
  right 0
.bannertext
  width 100%
  text-align center
  position absolute
  z-index 100
  color #333
  left 0
  right 0
  top 40%
.bannertext h1
  font-size 2.8rem!important
.banner img
  width 100%
  max-width 1920px
  margin 0 auto

.navbar .links
  background none!important
  color #222
  padding-left 0
.search-box input
  background-color rgba(255,255,255,0.2)!important

.page
  margin-top 0!important